workflows/Actualizar base de datos_enfermeria.json
{
  "active": true,
  "connections": {
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Borrar Collection": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Execute Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Crear Collection": {
      "main": [
        [
          {
            "node": "NocoDB1",
            "type": "main",
            "index": 0
          },
          {
            "node": "NocoDB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Borrar Collection",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        []
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Crear Collection",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NocoDB": {
      "main": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Borrar Collection",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NocoDB1": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-01-24T05:42:45.366Z",
  "id": "r1tH4hgpflgLyh9U",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Actualizar base de datos_enfermeria",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1300,
        700
      ],
      "id": "4ef877fa-b84b-4931-955b-493752a927d3",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.1,
      "position": [
        -200,
        520
      ],
      "id": "34087252-e8dc-450c-a5a6-8bdbce730a95",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "GdTgSVO5MkQXCIRg",
          "name": "Universidad ISEP - Proyecto Chatbot"
        }
      }
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "=Nombre de Formación: {{ $json['Formación'] }}\nFecha de Inicio Académico: {{ $json['Fecha de Inicio del Programa'] }}\nModalidad: {{ $json.Modalidad }}\nEnlace al plan de estudios y más información: {{ $json['Plan de Estudios'] }}\nFecha de Cierre de Admisión: {{ $json['Cierre de admisiones'] }}\nPrácticas: {{ $json['Prácticas y Trabajos Finales'] }}\nDuración del Programa: {{ $json['Duración'] }}\nBeneficios y Ventajas del Programa: {{ $json['Beneficios y Ventajas'] }}\nInscripción: {{ $json['Inscripción'] }}\nColegiatura mensual: {{ $json.Colegiatura }}\nPrograma Académico: {{ $json['Programa Académico'] }}\nEstadísticas y Logros del Programa: {{ $json['Estadísitcas y Logros'] }}\nTítulos y Certificaciones: {{ $json['Títulos y Certificaciones'] }}\nDescuento en inscripción: {{ $json['Descuentos en inscripción'] }} \nPerfil de Ingreso: {{ $json['Perfil de ingreso'] }}\nPlan de Estudios y Módulos: {{ $json['Plan de Estudios - Módulos'] }}\nOficialidad: {{ $json.Oficialidad }}\n",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "Nivel Educativo",
                "value": "={{ $json['Nivel Educativo'] }}"
              },
              {
                "name": "Nombre de Programa",
                "value": "={{ $json['Formación'] }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        -60,
        520
      ],
      "id": "7cda2ef7-a887-48db-83d0-cfec2904bd5a",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkOverlap": 200
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        320,
        640
      ],
      "id": "fdecdd4a-cb74-4441-bc08-e53643831b34",
      "name": "Character Text Splitter"
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "https://6c335228-bfb3-4c13-bc8d-efb1cb8739bb.europe-west3-0.gcp.cloud.qdrant.io/collections/inesin_db_enfermeria",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "qdrantApi",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1040,
        480
      ],
      "id": "eb683d5a-cfaf-43ef-9176-ed30a1b003b8",
      "name": "Borrar Collection",
      "credentials": {
        "qdrantApi": {
          "id": "2cBtPDGTCfO2GXKd",
          "name": "inesin"
        }
      }
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "https://6c335228-bfb3-4c13-bc8d-efb1cb8739bb.europe-west3-0.gcp.cloud.qdrant.io/collections/inesin_db_enfermeria",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "qdrantApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"vectors\": {\n    \"size\": 1536,\n    \"distance\": \"Cosine\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -700,
        480
      ],
      "id": "2c545fc2-00e2-4352-bb8e-efa8464552bf",
      "name": "Crear Collection",
      "credentials": {
        "qdrantApi": {
          "id": "2cBtPDGTCfO2GXKd",
          "name": "inesin"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "916a5bab-0e3a-41b2-85d0-282fcfeadde9",
              "name": "Pregunta",
              "value": "={{ $json.Pregunta }}",
              "type": "string"
            },
            {
              "id": "e2ac4349-3496-40db-8f43-363e617ef0bc",
              "name": "Respuesta",
              "value": "={{ $json.Respuesta }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "fcef148f-10b6-4d66-8d2c-f7974e8f23c1",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -320,
        680
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "3f574590-04c1-45d0-ac9c-9be8c5d12005",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -160,
        680
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "OY6OINPm5yvMkQqz",
          "mode": "list",
          "cachedResultName": "FAQs_nocodb"
        },
        "mode": "each",
        "options": {}
      },
      "id": "9b23093f-da06-471d-ac9f-701d8f747aab",
      "name": "Execute Workflow",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [
        80,
        700
      ]
    },
    {
      "parameters": {
        "mode": "insert",
        "qdrantCollection": {
          "__rl": true,
          "value": "=inesin_db_enfermeria",
          "mode": "id"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1,
      "position": [
        -220,
        360
      ],
      "id": "0e8c6384-cff2-4b2f-950b-ecb0720ee7b5",
      "name": "Qdrant Vector Store",
      "credentials": {
        "qdrantApi": {
          "id": "2cBtPDGTCfO2GXKd",
          "name": "inesin"
        }
      }
    },
    {
      "parameters": {
        "path": "78fe5041-c3cc-44a8-8dca-13c7a2bc0b59",
        "options": {}
      },
      "id": "c231f35b-4198-40df-b9f6-8371d65c77de",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1360,
        500
      ],
      "webhookId": "78fe5041-c3cc-44a8-8dca-13c7a2bc0b59"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "daysInterval": 3,
              "triggerAtHour": 3
            }
          ]
        }
      },
      "id": "1ead9c98-c8f5-4640-a61f-b828f451917b",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1360,
        100
      ],
      "disabled": true
    },
    {
      "parameters": {
        "amount": 30
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -880,
        480
      ],
      "id": "8f79ffd8-2087-4912-8ac8-2c1d836a0ac8",
      "name": "Wait1",
      "webhookId": "82c6dc5c-ab3b-4840-aab1-f0c418e6a648"
    },
    {
      "parameters": {
        "authentication": "nocoDbApiToken",
        "operation": "getAll",
        "workspaceId": "wkp0vko4",
        "projectId": "ph977qkwx2do2pf",
        "table": "ml0mrg5byaqh2p7",
        "returnAll": true,
        "options": {
          "fields": []
        }
      },
      "type": "n8n-nodes-base.nocoDb",
      "typeVersion": 3,
      "position": [
        -460,
        400
      ],
      "id": "42bbed30-4024-4536-adb8-56d47c75d9af",
      "name": "NocoDB",
      "credentials": {
        "nocoDbApiToken": {
          "id": "NFGzNVMAha1BkJBp",
          "name": "NocoDB Token account 2"
        }
      }
    },
    {
      "parameters": {
        "authentication": "nocoDbApiToken",
        "operation": "getAll",
        "workspaceId": "wkp0vko4",
        "projectId": "ph977qkwx2do2pf",
        "table": "m7dvc50oezom9zt",
        "returnAll": true,
        "options": {
          "fields": [],
          "where": ""
        }
      },
      "type": "n8n-nodes-base.nocoDb",
      "typeVersion": 3,
      "position": [
        -480,
        680
      ],
      "id": "9bbe32eb-92a2-4aae-bca0-519df20a2861",
      "name": "NocoDB1",
      "credentials": {
        "nocoDbApiToken": {
          "id": "NFGzNVMAha1BkJBp",
          "name": "NocoDB Token account 2"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "eXrqA7vJfW3kIU2i"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": [
        21
      ]
    }
  },
  "tags": [
    {
      "createdAt": "2025-01-24T05:36:46.987Z",
      "updatedAt": "2025-01-24T05:36:46.987Z",
      "id": "UtrOwaUBjIHVaWBs",
      "name": "inesin"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2025-03-05T01:35:13.849Z",
  "versionId": "dd72d280-c776-4a6a-8ccb-f0273cd2d27f"
}