workflows/My workflow 24.json
{
  "active": false,
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Grab New Cluster",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Grab New Cluster": {
      "main": [
        []
      ]
    },
    "Preliminary Plan": {
      "main": [
        [
          {
            "node": "Research",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fix Links": {
      "main": [
        [
          {
            "node": "Create plan",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create plan": {
      "main": [
        [
          {
            "node": "Write Blog",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write Blog": {
      "main": [
        [
          {
            "node": "Previous Posts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Previous Posts": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Add internal links",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add internal links": {
      "main": [
        [
          {
            "node": "HTML version",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Slug": {
      "main": [
        [
          {
            "node": "Title",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Title": {
      "main": [
        [
          {
            "node": "Meta description",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML version": {
      "main": [
        [
          {
            "node": "Slug",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Meta description": {
      "main": [
        []
      ]
    },
    "Image Covers": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Wordpress",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check as completed on Sheets": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Research": {
      "main": [
        [
          {
            "node": "Fix Links",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wordpress": {
      "main": [
        [
          {
            "node": "Check as completed on Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trends": {
      "main": [
        [
          {
            "node": "2 Most Trending",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "2 Most Trending": {
      "main": [
        [
          {
            "node": "High search volume keywords",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "High search volume keywords": {
      "main": [
        [
          {
            "node": "Choosing Topic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Choosing Topic": {
      "main": [
        [
          {
            "node": "Research1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Copywriter": {
      "main": [
        [
          {
            "node": "Previous Posts1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger1": {
      "main": [
        [
          {
            "node": "Trends",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Research1": {
      "main": [
        [
          {
            "node": "Fix Links1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fix Links1": {
      "main": [
        [
          {
            "node": "Copywriter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate1": {
      "main": [
        [
          {
            "node": "Add internal links1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Previous Posts1": {
      "main": [
        [
          {
            "node": "Aggregate1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add internal links1": {
      "main": [
        [
          {
            "node": "HTML version1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Slug1": {
      "main": [
        [
          {
            "node": "Title1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Title1": {
      "main": [
        [
          {
            "node": "Meta description1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Meta description1": {
      "main": [
        [
          {
            "node": "Image Covers1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML version1": {
      "main": [
        [
          {
            "node": "Slug1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Image Covers1": {
      "main": [
        []
      ]
    },
    "Edit Fields1": {
      "main": [
        []
      ]
    },
    "Wordpress1": {
      "main": [
        [
          {
            "node": "Google Sheets1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-03-01T14:07:57.000Z",
  "id": "4jxcvo5r8lOxv9Ua",
  "meta": null,
  "name": "My workflow 24",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "2 1 * * 2"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        400,
        300
      ],
      "id": "040e1081-2454-47e0-86bf-d8be21493fed",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1Wpiz6U3jaYLaRE-TNK4PNtuZj4fd5i56bymfx_oc5to",
          "mode": "list",
          "cachedResultName": "Keywords - NEW",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Wpiz6U3jaYLaRE-TNK4PNtuZj4fd5i56bymfx_oc5to/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Pillar Post #1 Name ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Wpiz6U3jaYLaRE-TNK4PNtuZj4fd5i56bymfx_oc5to/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Completed",
              "lookupValue": "No"
            }
          ]
        },
        "options": {
          "returnFirstMatch": true
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        620,
        300
      ],
      "id": "a8f272f1-d422-46c5-9b3d-b17936810c56",
      "name": "Grab New Cluster",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "03BCz2cGo39tBzET",
          "name": "uisep_google"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "openai/o1-mini",
          "mode": "id"
        },
        "messages": {
          "values": [
            {
              "content": "=Formas parte de un equipo que crea publicaciones de blog de primera clase.\n\nPara cada nuevo proyecto de publicación de blog, se te proporciona una lista de palabras clave e intención de búsqueda.\n\n- Palabras clave: las palabras clave son lo que se pretende que la publicación del blog tenga en cuenta. Están distribuidas por todo el blog y definen el tema de la publicación.\n\n- Intención de búsqueda: la intención de búsqueda reconoce la intención del usuario al buscar la palabra clave que define el tema de la publicación del blog, por lo que hace clic en nuestro blog para satisfacer su búsqueda.\n\n- Palabra clave principal: de las palabras clave, hay una palabra clave conocida como palabra clave principal. La palabra clave principal irá en el título y las primeras oraciones. Es importante que el tema de la publicación del blog esté relacionado con la palabra clave principal para que puedas colocarla en el título y la introducción de forma natural.\n\nDada una lista de palabras clave e intención de búsqueda, tu trabajo es comprender el objetivo de la publicación del blog, identificar el proceso de pensamiento detrás del flujo de la publicación del blog y elaborar un plan preliminar para la publicación.\n\nTu resultado debe:\n\n- Reconocer los puntos de discusión de la publicación del blog.\n\n- Estar en formato de puntos.\n\nDebes asegurarte de que el plan creado satisfaga la intención de búsqueda y gire directamente en torno a las palabras clave proporcionadas.\n\nAl crear el plan, ten en cuenta que todas las palabras clave deben usarse en la publicación final del blog.\n\nEl objetivo final del proyecto es crear una publicación de blog de alta calidad, alto valor y altamente relevante que satisfaga la intención de búsqueda de los usuarios y les brinde todo lo que necesitan saber sobre el tema.\n\nUn nuevo proyecto acaba de llegar a tu escritorio con las siguientes palabras clave e intención de búsqueda:\n\nPalabras clave:\n{{ $json.Keywords }}\n\nIntención de búsqueda:\n{{ $json.Intent }}\n\nPalabra clave principal:\n{{ $json['Primary Keyword'] }}\n\nCrea el plan preliminar."
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        840,
        300
      ],
      "id": "cd3ba821-d5d9-4f8b-98b6-242ada284c6f",
      "name": "Preliminary Plan",
      "credentials": {
        "openAiApi": {
          "id": "GdTgSVO5MkQXCIRg",
          "name": "Universidad ISEP - Proyecto Chatbot"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "23b8e8c4-9191-415a-9661-1b60d413528a",
              "name": "research",
              "value": "={{ $json.choices[0].message.content.replaceAll(\"[1]\", \" - source: \" +$json.citations[0]).replaceAll(\"[2]\",\" source:\" +$json.citations[1]).replaceAll(\"[3]\",\" - source: \" +$json.citations[2]).replaceAll(\"[4]\",\" - source: \"+$json.citations[3]).replaceAll(\"[5]\",\" - source: \"+$json.citations[4]).replaceAll(\"[6]\",\" - source: \"+$json.citations[5]).replaceAll(\"[7]\",\" - source: \"+$json.citations[6]).replaceAll(\"[8]\",\" - source: \"+$json.citations[7]).replaceAll(\"[9]\",\" - source: \"+$json.citations[8]).replaceAll(\"[10]\",\" - source: \"+$json.citations[9]) }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1360,
        300
      ],
      "id": "5d3a5398-8e7a-4be1-9482-032fb91efe19",
      "name": "Fix Links"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=Formas parte de un equipo que crea publicaciones de blog de primera clase.\n\nPara cada nuevo proyecto de publicación de blog, se te proporciona una lista de palabras clave, una palabra clave principal, intención de búsqueda, resultados de la investigación y un plan preliminar de publicación de blog. Aquí tienes una definición de cada uno de los datos de entrada:\n\n- Palabras clave: son las palabras clave para las que se pretende que la publicación de blog se clasifique en SEO. Deben estar distribuidas de forma inteligente a lo largo de la publicación de blog para ayudar con el SEO.\n\n- Intención de búsqueda: la intención de búsqueda reconoce la intención del usuario cuando busca la palabra clave. Nuestro objetivo es optimizar la publicación de blog para que sea muy relevante y valiosa para el usuario, por lo que la intención de búsqueda debe satisfacerse dentro de la publicación de blog.\n\n- Resultados de la investigación: se trata de investigaciones realizadas a partir de recursos muy reputados en relación con la publicación de blog. Debes utilizar esta investigación de forma inteligente para que tu publicación de blog tenga más reputación.\n\n- Plan preliminar: plan muy básico establecido por tu colega para dar inicio a la publicación de blog.\n\n- Palabra clave principal: de las palabras clave, hay una palabra clave conocida como palabra clave principal. La palabra clave principal es la palabra clave que tiene la mayor importancia para el SEO y, como tal, debe ir en el título y las primeras oraciones de la publicación del blog. Es importante que la publicación del blog sea muy relevante para la palabra clave principal, de modo que pueda ubicarse de manera natural en las secciones de título e introducción.\n\nCon dicha información, debe crear un plan detallado para la publicación del blog.\n\nSu resultado debe:\n\n- Incluir un plan para la publicación del blog.\n\n- Estar en formato de puntos.\n\n- En cada parte de la publicación del blog, debe mencionar qué palabras clave deben colocarse.\n\nA continuación, se detallan otras cosas que debe tener en cuenta:\n\n- Todas las palabras clave deben colocarse dentro de la publicación del blog. Para cada sección, mencione qué palabras clave incluir. La ubicación de las palabras clave debe sentirse natural y debe tener sentido.\n\n- Debe incluir todos los puntos de investigación en la publicación del blog. Al incluir los puntos de investigación, asegúrese de incluir también su URL de origen para que el redactor pueda usarlos como hipervínculos.\n\n- Debes asegurarte de que el plan creado satisfaga la intención de búsqueda y gire directamente en torno a las palabras clave proporcionadas.\n\n- Tu plan debe ser muy detallado.\n\n- Ten en cuenta que el redactor que utilizará tu plan para escribir la publicación del blog no es un experto en el tema de la publicación del blog. Por lo tanto, debes brindarle todos los detalles necesarios para que pueda convertirlo en párrafos bien formateados. Por lo tanto, tu plan debe incluir todos los detalles técnicos sobre cada punto que se incluirá en la publicación del blog. Por ejemplo, en lugar de decir \"definir X\", debe decir \"definir X como...\".\n\n- El plan que crees debe tener un flujo que tenga sentido.\n\n- Debes asegurarte de que la publicación del blog sea muy detallada y satisfaga los conceptos más importantes sobre el tema.\n\nAcaba de llegar a su escritorio un nuevo proyecto con los siguientes detalles:\n\nPalabras clave:\n{{ $('Grab New Cluster').item.json.Keywords }}\n\nIntención de búsqueda:\n{{ $('Grab New Cluster').item.json.Intent }}\n\nPlan preliminar:\n{{ $('Preliminary Plan').item.json.message.content }}\n\nResultados de la investigación:\n{{ $json.research }}\n\nPalabra clave principal:\n{{ $('Grab New Cluster').item.json['Primary Keyword'] }}\n\nCree el plan detallado.\n\nSu resultado debe ser solo el plan y nada más.\n"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        1560,
        140
      ],
      "id": "471f39b4-f838-4370-9e6a-e859a57b029a",
      "name": "Create plan",
      "credentials": {
        "openAiApi": {
          "id": "GdTgSVO5MkQXCIRg",
          "name": "Universidad ISEP - Proyecto Chatbot"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "anthropic/claude-3.5-sonnet:beta",
          "mode": "id"
        },
        "messages": {
          "values": [
            {
              "content": "=Formas parte de un equipo que crea publicaciones de blog de primera clase.\n\nEres el mejor redactor del equipo y eres responsable de escribir la publicación del blog.\n\nPara cada nuevo proyecto de publicación de blog, se te proporciona un plan detallado y los resultados de la investigación.\n\nTu trabajo es crear la publicación del blog siguiendo de cerca el plan detallado.\n\nLa publicación del blog que crees debe:\n\n- Seguir el plan paso a paso.\n\n- Utilizar párrafos cortos.\n\n- Utilizar viñetas y subtítulos con palabras clave cuando sea apropiado.\n\n- No tener nada superfluo. El contenido del blog debe ser denso en valor y directo.\n\n- Ser muy detallado.\n\n- Incluir las palabras clave mencionadas en cada sección dentro de esa sección.\n\n- Utilizar la investigación según lo recomendado por el plan. Asegúrate de incluir el enlace asociado con cada punto que extraigas de la investigación al final de esa sección en forma de URL.\n\n- Colocar la palabra clave principal en el título del blog, el encabezado H1 y al principio de la introducción.\n\n- Coloque una palabra clave para cada sección en el encabezado de esa sección.\n\n- Cuando sea posible, incluya sinónimos de las palabras clave a lo largo de cada sección.\n\n- Cuando sea posible, utilice palabras clave de indexación semántica latente (LSI) y términos relacionados para mejorar el contexto (por ejemplo, \"automatización de procesos robóticos\" para RPA).\n\n- Tenga una extensión mínima de 2000 a 2500 palabras.\n\n- Sea adecuado para un nivel de lectura de quinto año.\n\nAsegúrese de crear el borrador completo de la publicación del blog en su primera salida. No lo detenga ni lo acorte.\n\nA continuación, se incluyen los detalles de su próximo proyecto de publicación del blog:\n\nPlan detallado:\n{{ $json.message.content }}\n\nInvestigación detallada:\n{{ $('Fix Links').item.json.research }}\n\nEscriba la publicación del blog."
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        1860,
        140
      ],
      "id": "fdaf6fba-b4ae-4f52-b2ee-08b9ab814ff5",
      "name": "Write Blog",
      "credentials": {
        "openAiApi": {
          "id": "GdTgSVO5MkQXCIRg",
          "name": "Universidad ISEP - Proyecto Chatbot"
        }
      }
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "previous-posts",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        2340,
        360
      ],
      "id": "f252f41a-3292-48e7-be0b-cd66fc422e44",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1t-J2x22lsG6TpktQLBkwaS-ewuJI2WQvB-g4vQspbYU",
          "mode": "list",
          "cachedResultName": "Completed Keywords",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1t-J2x22lsG6TpktQLBkwaS-ewuJI2WQvB-g4vQspbYU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1t-J2x22lsG6TpktQLBkwaS-ewuJI2WQvB-g4vQspbYU/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        2180,
        360
      ],
      "id": "6896e31a-1bd2-4f5e-ab5e-630961431642",
      "name": "Previous Posts",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "03BCz2cGo39tBzET",
          "name": "uisep_google"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "o1-mini-2024-09-12",
          "mode": "list",
          "cachedResultName": "O1-MINI-2024-09-12"
        },
        "messages": {
          "values": [
            {
              "content": "=Formas parte de un equipo que crea publicaciones de blog de primera clase.\n\nEstás a cargo de los enlaces internos entre publicaciones de blog.\n\nPor cada nueva publicación de blog que llega a tu escritorio, tu trabajo es revisar los blogs publicados anteriormente y crear al menos 5 enlaces internos.\n\nPara elegir las mejores oportunidades de enlaces internos, debes:\n\n- Leer los resúmenes de las publicaciones de blog anteriores y buscar sus palabras clave. Si hay una coincidencia en la que la publicación de blog anterior es muy relevante, entonces esta es una oportunidad de enlace interno.\n\n- No incluyas enlaces si no son muy relevantes. Solo incluye un enlace si tiene sentido y agrega valor para el lector.\n\nUna vez que hayas encontrado las mejores oportunidades de enlaces, debes actualizar la publicación de blog con los enlaces internos. Para hacer esto, debes:\n\n- Agregar el enlace de la publicación de blog anterior en la sección correspondiente de la nueva publicación de blog. Colocar la URL en el lugar que tenga más sentido. Más tarde, haremos un hipervínculo de la URL a la palabra en la publicación de blog junto a la cual está ubicada. Por eso, tu ubicación es muy importante.\n\nAsegúrate de no eliminar ninguna URL existente ni cambiar nada de la publicación del blog que se te proporcionó. Solo debes agregar nuevas URL de enlaces internos y generar la publicación del blog revisada.\n\nTu salida debe ser la publicación del blog que se te proporcionó más las nuevas URL. No elimines ninguna información.\n\nNo devuelvas las publicaciones del blog anteriores. Solo devuelve la publicación del blog actual con los enlaces internos agregados.\n\nPublicación del blog actual:\n{{ $('Write Blog').last().json.message.content }}\n\nPublicaciones del blog anteriores:\n{{ $json['previous-posts'].toJsonString().split() }}\n"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        2460,
        200
      ],
      "id": "9edf0d1f-7ca4-43e6-935f-2903cb3ad7b7",
      "name": "Add internal links",
      "credentials": {
        "openAiApi": {
          "id": "GdTgSVO5MkQXCIRg",
          "name": "Universidad ISEP - Proyecto Chatbot"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=Crea un slug para la siguiente publicación del blog:\n{{ $('Add internal links').item.json.message.content }}\n\nUn slug en una publicación del blog es la parte de la URL que viene después del nombre de dominio e identifica una página específica. Por lo general, es una frase breve y descriptiva que resume el contenido de la publicación, lo que facilita que los usuarios y los motores de búsqueda comprendan de qué se trata la página. Por ejemplo, en la URL www.example.com/intelligent-agents, el slug es intelligent-agents. Un buen slug es conciso, contiene palabras clave relevantes y evita palabras innecesarias para mejorar la legibilidad y el SEO.\n\nEl slug debe tener un máximo de 4 o 5 palabras y debe incluir la palabra clave principal de la publicación del blog, que es {{ $('Grab New Cluster').last().json['Primary Keyword'] }}.\n\nSu salida debe ser el slug y nada más para que pueda copiar y pegar su salida y ponerla al final de la URL de mi publicación de blog para publicarla de inmediato."
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        3120,
        360
      ],
      "id": "939bc1fb-3aba-4f9e-9d9a-3c59c560dc94",
      "name": "Slug",
      "credentials": {
        "openAiApi": {
          "id": "GdTgSVO5MkQXCIRg",
          "name": "Universidad ISEP - Proyecto Chatbot"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-2024-11-20",
          "mode": "list",
          "cachedResultName": "GPT-4O-2024-11-20"
        },
        "messages": {
          "values": [
            {
              "content": "=Extraiga el título de la publicación del blog de la siguiente publicación:\n{{ $('Add internal links').item.json.message.content }}\n\nEl título de la publicación del blog debe incluir la palabra clave principal {{ $('Grab New Cluster').last().json['Primary Keyword'] }} y debe informar a los usuarios de inmediato qué pueden esperar al leer la publicación del blog.\n\n- No coloque la salida en \"\". La salida debe ser solo texto sin Markdown ni formato.\n\nSu salida debe ser solo el título de la publicación del blog y nada más."
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        3420,
        360
      ],
      "id": "454a8a90-fc11-4c8d-b64e-b8e7f4f975f1",
      "name": "Title",
      "credentials": {
        "openAiApi": {
          "id": "GdTgSVO5MkQXCIRg",
          "name": "Universidad ISEP - Proyecto Chatbot"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=\n963 / 5,000\nCrea una buena meta descripción para la siguiente publicación de blog:\n\n{{ $('Add internal links').item.json.message.content }}\n\nUna buena meta descripción para una publicación de blog optimizada para SEO debe:\n- Ser concisa: no debe exceder los 150-160 caracteres para garantizar que la descripción completa se muestre en los resultados de búsqueda.\n- Incluir palabras clave: incorporar palabras clave principales de forma natural para mejorar la visibilidad y la relevancia para las consultas de búsqueda.\n\nPalabra clave principal = {{ $('Grab New Cluster').last().json['Primary Keyword'] }}\n\nMás palabras clave para incluir si es posible = [{{ $('Grab New Cluster').last().json.Keywords }}]\n\n- Ofrecer valor: describir claramente lo que el lector aprenderá o ganará al hacer clic en el enlace.\n\n- Ser atractivo: utilizar un lenguaje persuasivo, como verbos de acción o una pregunta, para fomentar los clics.\n\n- Alineación con el contenido: asegúrese de que la descripción refleje con precisión la publicación del blog para cumplir con las expectativas de los usuarios y reducir las tasas de rebote.\n\nSu contenido debe ser únicamente la meta descripción y nada más."
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        3720,
        360
      ],
      "id": "4b9c29ab-036b-4114-8ee8-9c8c50125f5a",
      "name": "Meta description",
      "credentials": {
        "openAiApi": {
          "id": "GdTgSVO5MkQXCIRg",
          "name": "Universidad ISEP - Proyecto Chatbot"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "o1-preview",
          "mode": "list",
          "cachedResultName": "O1-PREVIEW"
        },
        "messages": {
          "values": [
            {
              "content": "=NO IMPRIMAS NADA QUE NO SEA EL CÓDIGO. Quiero que sigas el diseño de la plantilla como guía para generar el código de WordPress para una publicación de blog. Estas son las reglas a seguir:\n\nLa publicación del blog debe tener un título, tiempo estimado de lectura, conclusiones clave, índice, cuerpo y preguntas frecuentes en este orden.\nHaz que sea atractiva utilizando cursiva, puntos, comillas, negrita, espacios y, a veces, nuevas líneas. Nunca uses emojis.\nLa publicación del blog tendrá algunas URL referenciadas junto a ciertas frases clave para mostrar de dónde proviene la información. Debes hacer un hipervínculo entre la frase clave y la URL proporcionada para que el lector pueda hacer clic en la URL referenciada. Es fundamental que lo hagas bien.\nEnvuelve todo el contenido en un contenedor <div> con CSS en línea que establezca el color del texto en blanco (#ffffff), use una fuente legible como Arial, sans-serif y establezca la altura de línea en 1.6.\nAsegúrese de que todos los elementos de texto que no sean encabezados (por ejemplo, párrafos, elementos de lista) tengan un estilo en línea o un estilo incrustado que establezca el tamaño de fuente en 20 px y el color en blanco (#ffffff) utilizando !important para anular los estilos de tema.\nLos hipervínculos, los puntos en la tabla de contenidos y las preguntas frecuentes deben tener un estilo azul (#00c2ff).\nTodos los encabezados y subtítulos deben tener un subrayado implementado a través de un borde inferior en azul (#00c2ff) con el relleno adecuado.\nColoque un doble salto (<br><br>) entre cada sección para mejorar la legibilidad.\nNo imprima ningún texto adicional ni mencione etiquetas de código como HTML''' alrededor de la salida; solo imprima el código HTML.\nEntrada de blog:\n\n{{ $json.message.content }}\n\nA continuación, se muestra un ejemplo de una salida con un formato correcto:\n\n<div style=\"color: #ffffff; font-family: Arial, sans-serif; line-height: 1.6;\"> <style> p, .wp-block-paragraph, ul.wp-block-list, li { color: #ffffff !important; font-size: 20px !important; } a { color: #00c2ff !important; } </style> <h1 id=\"h-devin-ai-the-hype-and-reality-of-an-ai-software-engineer\" class=\"wp-block-heading\" style=\"border-bottom: 2px solid #00c2ff; padding-bottom: 5px;\">Devin AI: La publicidad y la realidad de un ingeniero de software de IA</h1> <br><br> <p class=\"estimated-reading-time\" style=\"color: #ffffff; font-size: 20px !important;\">Tiempo de lectura estimado: 5 minutos</p> <br><br> <h2 id=\"h-key-takeaways\" class=\"wp-block-heading\" style=\"border-bottom: 2px solid #00c2ff; padding-bottom: 5px;\"><strong>Conclusiones clave</strong></h2> <br><br> <ul class=\"wp-block-list\"> <li><mark style=\"background-color: #ffd966;\"><strong>Devin AI</strong></mark> afirma ser el primer ingeniero de software de IA completamente autónomo del mundo.</li> <br><br> <li>Las demostraciones y afirmaciones iniciales han generado un <mark style=\"background-color: #ffff00;\">bombo publicitario</mark> e interés significativos.</li> <br><br> <li>Los críticos argumentan que algunas capacidades pueden ser exageradas o engañosas.</li> <br><br> <li>Las pruebas en el mundo real revelan tanto <em>fortalezas</em> como <em>limitaciones</em>.</li> <br><br> <li>El verdadero impacto en la ingeniería de software aún está por verse.</li> </ul> <br><br> <div class=\"wp-block-yoast-seo-table-of-contents yoast-table-of-contents\"> <h2 style=\"color: #ffffff; borde inferior: 2px sólido #00c2ff; padding-bottom: 5px;\">Índice</h2> <br><br> <ul> <li><a href=\"#h-devin-ai-the-hype-and-reality-of-an-ai-software-engineer\" data-level=\"1\">Devin AI: el bombo y la realidad de un ingeniero de software de IA</a></li> <br><br> <li><a href=\"#h-key-takeaways\" data-level=\"2\">Conclusiones clave</a></li> <br><br> <li><a href=\"#h-what-is-devin-ai\" data-level=\"2\">¿Qué es Devin AI?</a></li> <br><br> <li><a href=\"#h-the-hype-around-devin-ai\" data-level=\"2\">El bombo en torno a Devin AI</a></li> <br><br> <li><a href=\"#h-putting-devin-to-the-test\" data-level=\"2\">Poniendo a prueba a Devin</a></li> <br><br> <li><a href=\"#h-the-reality-check\" data-level=\"2\">La comprobación de la realidad</a></li> <br><br> <li><a href=\"#h-the-future-of-ai-in-software-development\" data-level=\"2\">El futuro de la IA en el desarrollo de software</a></li> <br><br> <li><a href=\"#h-frequently-asked-questions\" data-level=\"2\">Preguntas frecuentes</a></li> </ul> </div> <br><br> <p>Devin AI ha irrumpido en la escena tecnológica, prometiendo revolucionar el desarrollo de software tal como lo conocemos. Pero, ¿este asistente de codificación impulsado por IA está a la altura de las expectativas? Profundicemos en lo que realmente es Devin AI, lo que puede hacer y lo que dicen los desarrolladores después de ponerlo a prueba.</p> <br><br> <!-- El resto del contenido del blog va aquí --> </div>\n"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        2800,
        200
      ],
      "id": "54df4f0f-0470-48e9-9ae1-ffc648416c17",
      "name": "HTML version",
      "credentials": {
        "openAiApi": {
          "id": "GdTgSVO5MkQXCIRg",
          "name": "Universidad ISEP - Proyecto Chatbot"
        }
      }
    },
    {
      "parameters": {
        "url": "https://serpapi.com/search?engine=google_images",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "={{ $('Title').item.json.message.content }}"
            },
            {
              "name": "gl",
              "value": "us"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4160,
        160
      ],
      "id": "dc87811b-ef20-4516-b94b-a8cf8e9b8fcb",
      "name": "Image Covers"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1f0541df-05ab-4e3d-a5d8-3904579fc8a9",
              "name": "image-url",
              "value": "={{ $json.images_results[1].original }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4400,
        140
      ],
      "id": "0e3a07e6-6a90-4f8f-8b71-f9b5835dfaeb",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1yz2ekTV_aJk2X2C0e3QU3t4Th-_dZdbaOCVWTHIjBg8",
          "mode": "list",
          "cachedResultName": "Keywords",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1yz2ekTV_aJk2X2C0e3QU3t4Th-_dZdbaOCVWTHIjBg8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "AI Agents",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1yz2ekTV_aJk2X2C0e3QU3t4Th-_dZdbaOCVWTHIjBg8/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Primary Keyword": "={{ $('Grab New Cluster').last().json['Primary Keyword'] }}",
            "Completed": "Yes"
          },
          "matchingColumns": [
            "Primary Keyword"
          ],
          "schema": [
            {
              "id": "Cluster",
              "displayName": "Cluster",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Intent",
              "displayName": "Intent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Keywords",
              "displayName": "Keywords",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Primary Keyword",
              "displayName": "Primary Keyword",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Completed",
              "displayName": "Completed",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        4800,
        140
      ],
      "id": "c0fd7a42-32ac-448e-b706-6c93d1fe583d",
      "name": "Check as completed on Sheets"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1t-J2x22lsG6TpktQLBkwaS-ewuJI2WQvB-g4vQspbYU",
          "mode": "list",
          "cachedResultName": "Completed Keywords",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1t-J2x22lsG6TpktQLBkwaS-ewuJI2WQvB-g4vQspbYU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1t-J2x22lsG6TpktQLBkwaS-ewuJI2WQvB-g4vQspbYU/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Blog Title ": "={{ $('Title').item.json.message.content }}",
            "Keywords": "={{ $('Grab New Cluster').last().json.Keywords }}",
            "Summary ": "={{ $('Meta description').item.json.message.content }}",
            "URL": "=https://YourURL/{{ $('Slug').item.json.message.content }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Blog Title ",
              "displayName": "Blog Title ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Keywords",
              "displayName": "Keywords",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Summary ",
              "displayName": "Summary ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "URL",
              "displayName": "URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        5040,
        140
      ],
      "id": "4cc73361-554e-4390-8d73-bfc67f7ce4c3",
      "name": "Google Sheets"
    },
    {
      "parameters": {
        "content": "## Schedule a trigger\n \n",
        "height": 240,
        "width": 260
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        320,
        200
      ],
      "typeVersion": 1,
      "id": "ac2e4f57-b740-49c3-8e0c-7d85ddaa6843",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## New Post Info\n \n",
        "height": 240
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        580,
        200
      ],
      "typeVersion": 1,
      "id": "6830212c-1866-4557-9ed8-1805aa86d3a2",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Preliminary Post Plan \n \n",
        "height": 240,
        "width": 300
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        820,
        200
      ],
      "typeVersion": 1,
      "id": "985fd03f-5576-4fa6-89f1-3a5d2ab49f1a",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## Research\n \n \n",
        "height": 240,
        "width": 180
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1120,
        200
      ],
      "typeVersion": 1,
      "id": "a114cb88-8f89-4c72-aefd-5768a4ab7054",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "## Post Plan \n \n",
        "height": 240,
        "width": 300
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1540,
        60
      ],
      "typeVersion": 1,
      "id": "07d4efe6-3ca5-4ad7-9dc4-3886f3e34ca6",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "## Writing Blog\n \n \n",
        "height": 240,
        "width": 300
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1840,
        60
      ],
      "typeVersion": 1,
      "id": "a75f8ba8-68dc-42b2-8f68-04a962cd1f50",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.perplexity.ai/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"sonar-pro\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"Act as a professional news researcher who is capable of finding detailed summaries about a news topic from highly reputable sources.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"{{ $json.message.content.split(/\\n+/).join(' ').replaceAll('\"', ' ') }}\"\n    }\n  ]\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1200,
        320
      ],
      "id": "509d2143-75d8-4778-a9ca-aa94d5dd2cf3",
      "name": "Research",
      "credentials": {
        "httpHeaderAuth": {
          "id": "AeLB5dEMXRr8QISG",
          "name": "uchat_TH"
        }
      }
    },
    {
      "parameters": {
        "content": "## Internal Links\n \n \n",
        "height": 240,
        "width": 300
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2440,
        120
      ],
      "typeVersion": 1,
      "id": "0214ef56-5e12-4c83-ad71-2c5ec0d03c89",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "content": "## HTML\n\n \n \n",
        "height": 240,
        "width": 340
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2740,
        120
      ],
      "typeVersion": 1,
      "id": "b0a39e45-21b7-454c-b9b3-e6b3fb880186",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "content": "## Slug\n\n\n \n \n",
        "height": 240,
        "width": 320
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3080,
        280
      ],
      "typeVersion": 1,
      "id": "9d50d558-7c1f-45d4-b319-4b45dd06d3d8",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "content": "## Post Title\n\n\n \n \n",
        "height": 240,
        "width": 300
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3400,
        280
      ],
      "typeVersion": 1,
      "id": "1a7a4c26-a571-46e9-b004-8913ec94a6d8",
      "name": "Sticky Note9"
    },
    {
      "parameters": {
        "content": "## Meta Description\n\n\n \n \n",
        "height": 240,
        "width": 300
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3700,
        280
      ],
      "typeVersion": 1,
      "id": "5d5b4867-06bb-4b5d-aa87-1e446644d6ab",
      "name": "Sticky Note10"
    },
    {
      "parameters": {
        "content": "## Get Image\n\n\n\n \n \n",
        "height": 240,
        "width": 360
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        4000,
        280
      ],
      "typeVersion": 1,
      "id": "c415e826-5a84-4f1e-bfcd-94841b5b1905",
      "name": "Sticky Note11"
    },
    {
      "parameters": {
        "content": "## Post\n\n\n\n\n \n \n",
        "height": 240,
        "width": 220
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        4360,
        280
      ],
      "typeVersion": 1,
      "id": "afc9be32-c007-43b2-a8f1-4adb583b4e80",
      "name": "Sticky Note12"
    },
    {
      "parameters": {
        "title": "={{ $('Title').item.json.message.content }}",
        "additionalFields": {
          "authorId": 2,
          "content": "=<img src=\"{{ $json['image-url'] }}\" alt=\"Cover Image\">\n{{ $('HTML version').item.json.message.content }}",
          "slug": "={{ $('Slug').item.json.message.content }}",
          "status": "draft",
          "commentStatus": "closed",
          "sticky": false,
          "categories": [
            280
          ],
          "tags": [
            281
          ],
          "postTemplate": {
            "values": {}
          }
        }
      },
      "type": "n8n-nodes-base.wordpress",
      "typeVersion": 1,
      "position": [
        4640,
        140
      ],
      "id": "484ea4c6-6465-4139-9b31-bbc0031a4e81",
      "name": "Wordpress"
    },
    {
      "parameters": {
        "content": "## Completion\n\n\n\n\n\n \n \n",
        "height": 240,
        "width": 480
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        4600,
        280
      ],
      "typeVersion": 1,
      "id": "0f041365-df74-4669-b02e-1b9f03ed012c",
      "name": "Sticky Note13"
    },
    {
      "parameters": {
        "content": "# CLUSTER SEO POST\n\n \n \n",
        "height": 100,
        "width": 500,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        300,
        -200
      ],
      "typeVersion": 1,
      "id": "d3937c71-f1d1-470e-a02d-9928982799b4",
      "name": "Sticky Note14"
    },
    {
      "parameters": {
        "url": "https://serpapi.com/search?engine=google_trends",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "serpApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "=[YOUR QUERY]"
            },
            {
              "name": "geo",
              "value": "US"
            },
            {
              "name": "hl",
              "value": "en"
            },
            {
              "name": "date",
              "value": "={{ $now.minus({ days: 3 }).format('yyyy-MM-dd') }} {{ $now.format('yyyy-MM-dd') }}"
            },
            {
              "name": "data_type",
              "value": "RELATED_QUERIES"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        120,
        -600
      ],
      "id": "5e24fcdc-1fed-41bf-bf29-ee1e5b8a40f4",
      "name": "Trends",
      "credentials": {
        "openAiApi": {
          "id": "GdTgSVO5MkQXCIRg",
          "name": "Universidad ISEP - Proyecto Chatbot"
        }
      }
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"most-trending\": {\n\n    \"#1\": { \n\n      \"query\":\"{{ $json.related_queries.rising[0].query }}\",\n      \"score\":\"{{ $json.related_queries.rising[0].extracted_value }}\"\n\n    },\n\n\n    \"#2\": { \n\n      \"query\":\"{{ $json.related_queries.rising[1].query }}\",\n      \"score\":\"{{ $json.related_queries.rising[1].extracted_value }}\"\n\n    }\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        700,
        -600
      ],
      "id": "9f58d632-b02a-48e1-8527-597367bb532b",
      "name": "2 Most Trending"
    },
    {
      "parameters": {
        "jsCode": "// Get the top array from your JSON\nconst topItems = $('Trends').first().json.related_queries.top;\n\n// Filter the items to only include those with extracted_value > 30\nconst filtered = topItems.filter(item => item.extracted_value > 30);\n\n// Map the filtered items to their query values and join them with commas\nconst resultString = filtered.map(item => item.query).join(', ');\n\n// Return the result in a new JSON property\nreturn [{ json: { result: resultString } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        920,
        -600
      ],
      "id": "2c4acce9-a933-4b8c-a605-a8f109117473",
      "name": "High search volume keywords"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "deepseek/deepseek-r1",
          "mode": "id"
        },
        "messages": {
          "values": [
            {
              "content": "=Eres parte de un equipo que crea publicaciones de blog de clase mundial. Tu trabajo es elegir el tema para cada publicación del blog. \n\nLas publicaciones del blog se publican en el sitio web de [NOMBRE DE LA COMPAÑÍA + DESCRIPCIÓN + PRODUCTOS + MERCADO OBJETIVO]. Las publicaciones del blog se publican principalmente como parte de una campaña de SEO para lograr que [NOMBRE DE LA COMPAÑÍA] obtenga una clasificación alta por sus productos y servicios.\n\nEn este caso, se le proporciona una lista de dos palabras clave que han tenido mayor tendencia en la búsqueda de noticias de Google durante los últimos días. \n\nSu trabajo es elegir uno que crea que sería la publicación de blog más relevante con los mejores resultados de SEO para el cliente. \n\nLas palabras clave tienen dos atributos: \n\n1. consulta: este atributo determina la consulta de búsqueda que los usuarios han estado buscando y que es tendencia. \n\n2. valor: este atributo determina qué porcentaje de aumento ha experimentado la palabra clave en comparación con períodos anteriores (es decir, el aumento en el volumen de búsqueda). \n\nDebe elegir uno de ellos teniendo en cuenta tanto la relevancia de la palabra clave para los esfuerzos de SEO de [NOMBRE DE LA COMPAÑÍA] como la tendencia comparativa determinada por el atributo de valor. \n\nGenere la palabra clave sobre la que decidió publicar un blog y nada más. No expliques tu razonamiento. Simplemente envíe la palabra clave. \n\nEsta instancia: \n\nPalabra clave 1:\n{{ $('2 Más Tendencias').item.json['más-tendencias']['#1'].toJsonString() }} \n\nPalabra clave2: \n{{ $('2 Más Tendencias').item.json['más-tendencias']['#2'].toJsonString() }}"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        1140,
        -600
      ],
      "id": "c8dd96e9-4cf8-4ba3-b735-d3a535f7d601",
      "name": "Choosing Topic",
      "credentials": {
        "openAiApi": {
          "id": "GdTgSVO5MkQXCIRg",
          "name": "Universidad ISEP - Proyecto Chatbot"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "anthropic/claude-3.5-sonnet",
          "mode": "id"
        },
        "messages": {
          "values": [
            {
              "content": "=Formas parte de un equipo que crea publicaciones de blog de primera clase para fines de SEO.\n\nCada semana, tu equipo publica una publicación de blog sobre las noticias más populares de esta semana en el campo de la IA. Como redactor de los blogs, se te proporciona la siguiente información:\n\n- Consulta: el tema de la publicación de blog de esta semana. Esta es la noticia más popular en el espacio.\n\n- Otras palabras clave: esta es una lista de algunas palabras clave de alto volumen de búsqueda en el espacio de la IA. El objetivo es incluir algunas de ellas en la publicación de blog de forma natural. Esto es solo opcional y depende de la dependencia natural del tema de esta semana con la publicación de blog. Incluye cualquiera de las palabras clave en el blog, si puedes hacerlo de forma natural sin cambiar el significado de la publicación de blog.\n\n- Resultados de la investigación: esta es una investigación encontrada en recursos muy confiables en relación con el tema de la publicación. Tu publicación de blog debe basarse en esta investigación.\n\nCon dicha información, debes escribir la publicación de blog.\n\nLa publicación del blog debe:\n\n- Colocar la consulta en el título del blog, en el encabezado H1 y al principio de la introducción.\n\n- Incluir todos los detalles de los hallazgos de la investigación. Cuando incluya los puntos de investigación, asegúrese de incluir también la URL de origen para que el redactor pueda usarlos como hipervínculos. (La URL de origen de cada afirmación se proporciona en los hallazgos de la investigación junto al texto)\n\n- Ser muy detallada.\n\n- Usar un tono similar al de un periodista, invocando curiosidad y entusiasmo en los lectores.\n\n- Fluir naturalmente y tener sentido.\n\n- Tener una extensión mínima de entre 1500 y 2000 palabras.\n\n- Ser adecuada para un nivel de lectura de quinto año.\n\nAsegúrese de crear el borrador completo de la publicación del blog en su primer resultado. No lo detenga ni lo corte.\n\nSu resultado debe ser la publicación del blog y nada más.\n\nAquí tienes los detalles de tu próximo proyecto de publicación de blog:\n\nConsulta:\n{{ $('Elegir tema').item.json.message.content }}\n\nInvestigación detallada:\n{{ $json.research }}\n\nRedacta la publicación de blog."
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        1980,
        -600
      ],
      "id": "680a8635-afa4-4ef5-8c69-3815615fc3d8",
      "name": "Copywriter",
      "credentials": {
        "openAiApi": {
          "id": "GdTgSVO5MkQXCIRg",
          "name": "Universidad ISEP - Proyecto Chatbot"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * 4"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -300,
        -600
      ],
      "id": "2e4f50de-294c-4ffb-af6d-18e913be38ee",
      "name": "Schedule Trigger1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.perplexity.ai/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"sonar-pro\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"Act as a professional news researcher who is capable of finding detailed summaries about a news topic from highly reputable sources.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \" Research the following topic and return everything you can find: '{{ $('Choosing Topic').item.json.message.content }}' \"\n    }\n  ]\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1540,
        -600
      ],
      "id": "bb5a1319-485f-4cd7-9fba-b8a4919d95e7",
      "name": "Research1",
      "credentials": {
        "httpHeaderAuth": {
          "id": "AeLB5dEMXRr8QISG",
          "name": "uchat_TH"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "23b8e8c4-9191-415a-9661-1b60d413528a",
              "name": "research",
              "value": "={{ $json.choices[0].message.content.replaceAll(\"[1]\", \" - source: \" +$json.citations[0]).replaceAll(\"[2]\",\" - source:\" +$json.citations[1]).replaceAll(\"[3]\",\" - source: \" +$json.citations[2]).replaceAll(\"[4]\",\" - source: \"+$json.citations[3]).replaceAll(\"[5]\",\" - source: \"+$json.citations[4]).replaceAll(\"[6]\",\" - source: \"+$json.citations[5]).replaceAll(\"[7]\",\" - source: \"+$json.citations[6]).replaceAll(\"[8]\",\" - source: \"+$json.citations[7]).replaceAll(\"[9]\",\" - source: \"+$json.citations[8]).replaceAll(\"[10]\",\" - source: \"+$json.citations[9]) }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1760,
        -600
      ],
      "id": "3f1504b5-2770-4424-973e-6b20ef6e4b20",
      "name": "Fix Links1"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "previous-posts",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        2660,
        -600
      ],
      "id": "5d0c86c4-c918-4a46-abfe-bf73b49b2577",
      "name": "Aggregate1"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1t-J2x22lsG6TpktQLBkwaS-ewuJI2WQvB-g4vQspbYU",
          "mode": "list",
          "cachedResultName": "Completed Keywords",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1t-J2x22lsG6TpktQLBkwaS-ewuJI2WQvB-g4vQspbYU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1t-J2x22lsG6TpktQLBkwaS-ewuJI2WQvB-g4vQspbYU/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        2360,
        -520
      ],
      "id": "4b6eb5d0-e839-4484-95cf-0197e7eca832",
      "name": "Previous Posts1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "03BCz2cGo39tBzET",
          "name": "uisep_google"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "o1-mini-2024-09-12",
          "mode": "list",
          "cachedResultName": "O1-MINI-2024-09-12"
        },
        "messages": {
          "values": [
            {
              "content": "=Formas parte de un equipo que crea publicaciones de blog de primera clase.\n\nEstás a cargo de los enlaces internos entre publicaciones de blog.\n\nPor cada nueva publicación de blog que llega a tu escritorio, tu trabajo es revisar los blogs publicados anteriormente y crear al menos 5 enlaces internos.\n\nPara elegir las mejores oportunidades de enlaces internos, debes:\n\n- Leer los resúmenes de las publicaciones de blog anteriores y buscar sus palabras clave. Si hay una coincidencia en la que la publicación de blog anterior es muy relevante, entonces esta es una oportunidad de enlace interno.\n\n- No incluyas enlaces si no son muy relevantes. Solo incluye un enlace si tiene sentido y agrega valor para el lector.\n\nUna vez que hayas encontrado las mejores oportunidades de enlaces, debes actualizar la publicación de blog con los enlaces internos. Para hacer esto, debes:\n\n- Agregar el enlace de la publicación de blog anterior en la sección correspondiente de la nueva publicación de blog. Colocar la URL en el lugar que tenga más sentido. Más tarde, haremos un hipervínculo de la URL a la palabra en la publicación de blog junto a la cual está ubicada. Por eso, tu ubicación es muy importante.\n\nAsegúrate de no eliminar ninguna URL existente ni cambiar nada de la publicación del blog que se te proporcionó. Solo debes agregar nuevas URL de enlaces internos y generar la publicación del blog revisada.\n\nTu salida debe ser la publicación del blog que se te proporcionó más las nuevas URL. No elimines ninguna información.\n\nNo devuelvas las publicaciones del blog anteriores. Solo devuelve la publicación del blog actual con los enlaces internos agregados.\n\nPublicación del blog actual:\n{{ $('Copywriter').item.json.message.content }}\n\nPublicaciones del blog anteriores:\n{{ $json['previous-posts'].toJsonString().split() }}\n"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        2880,
        -580
      ],
      "id": "95386bc3-2397-45f6-8cd7-5214235973ad",
      "name": "Add internal links1",
      "credentials": {
        "openAiApi": {
          "id": "GdTgSVO5MkQXCIRg",
          "name": "Universidad ISEP - Proyecto Chatbot"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=Cree un slug para la siguiente publicación de blog:\n{{ $('Add internal links1').item.json.message.content }}\n\nUn slug en una publicación de blog es la parte de la URL que aparece después del nombre de dominio e identifica una página específica. Por lo general, es una frase breve y descriptiva que resume el contenido de la publicación, lo que facilita que los usuarios y los motores de búsqueda comprendan de qué se trata la página. Por ejemplo, en la URL www.example.com/intelligent-agents, el slug es intelligent-agents. Un buen slug es conciso, contiene palabras clave relevantes y evita palabras innecesarias para mejorar la legibilidad y el SEO.\n\nEl slug debe tener un máximo de 4 o 5 palabras y debe incluir la palabra clave principal de la publicación del blog, que es {{ $('Choosing Topic').item.json.message.content }}\n\nEl resultado debe ser el slug y nada más para que pueda copiarlo y pegarlo y colocarlo al final de la URL de la publicación del blog para publicarlo de inmediato."
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        3520,
        -600
      ],
      "id": "d8367fff-5db7-43ec-b3a1-d489249f9fef",
      "name": "Slug1",
      "credentials": {
        "openAiApi": {
          "id": "GdTgSVO5MkQXCIRg",
          "name": "Universidad ISEP - Proyecto Chatbot"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-2024-11-20",
          "mode": "list",
          "cachedResultName": "GPT-4O-2024-11-20"
        },
        "messages": {
          "values": [
            {
              "content": "=Extraiga el título de la publicación del blog de la siguiente publicación:\n{{ $('Add internal links1').item.json.message.content }}\n\nEl título de la publicación del blog debe incluir la palabra clave principal '{{ $('Choosing Topic').item.json.message.content }}' y debe informar a los usuarios de inmediato qué pueden esperar al leer la publicación del blog.\n\n- No coloque la salida en \"\". La salida debe ser solo texto sin Markdown ni formato.\n\nSu salida debe ser solo el título de la publicación del blog y nada más."
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        3820,
        -600
      ],
      "id": "bd17eec6-df90-4063-8b5c-8f42d5166e9f",
      "name": "Title1",
      "credentials": {
        "openAiApi": {
          "id": "GdTgSVO5MkQXCIRg",
          "name": "Universidad ISEP - Proyecto Chatbot"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-2024-11-20",
          "mode": "list",
          "cachedResultName": "GPT-4O-2024-11-20"
        },
        "messages": {
          "values": [
            {
              "content": "=Crea una buena meta descripción para la siguiente publicación de blog:\n\n{{ $('Add internal links1').item.json.message.content }}\n\nUna buena meta descripción para una publicación de blog optimizada para SEO debe:\n- Ser concisa: no debe exceder los 150-160 caracteres para garantizar que la descripción completa se muestre en los resultados de búsqueda.\n- Incluir palabras clave: incorporar palabras clave principales de forma natural para mejorar la visibilidad y la relevancia para las consultas de búsqueda.\n\nPalabra clave principal = {{ $('Choosing Topic').item.json.message.content }}\n\n- Ofrecer valor: describir claramente lo que el lector aprenderá o ganará al hacer clic en el enlace.\n\n- Ser atractivo: utilizar un lenguaje persuasivo, como verbos de acción o una pregunta, para fomentar los clics.\n\n- Alinearse con el contenido: asegurarse de que la descripción refleje con precisión la publicación del blog para cumplir con las expectativas del usuario y reducir las tasas de rebote.\n\nEl resultado debe ser solo la meta descripción y nada más.\n"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        4120,
        -600
      ],
      "id": "486ed4d6-f46d-4194-92b8-90ded80d99f4",
      "name": "Meta description1",
      "credentials": {
        "openAiApi": {
          "id": "GdTgSVO5MkQXCIRg",
          "name": "Universidad ISEP - Proyecto Chatbot"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=NO IMPRIMAS NADA QUE NO SEA EL CÓDIGO. Quiero que sigas el diseño de la plantilla como guía para generar el código de WordPress para una publicación de blog. Estas son las reglas a seguir:\n\nLa publicación del blog debe tener un título, tiempo estimado de lectura, conclusiones clave, índice, cuerpo y preguntas frecuentes en este orden.\nHaz que sea atractiva utilizando cursiva, puntos, comillas, negrita, espacios y, a veces, nuevas líneas. Nunca uses emojis.\nLa publicación del blog tendrá algunas URL referenciadas junto a ciertas frases clave para mostrar de dónde proviene la información. Debes hacer un hipervínculo entre la frase clave y la URL proporcionada para que el lector pueda hacer clic en la URL referenciada. Es fundamental que lo hagas bien.\nEnvuelve todo el contenido en un contenedor <div> con CSS en línea que establezca el color del texto en blanco (#ffffff), use una fuente legible como Arial, sans-serif y establezca la altura de línea en 1.6.\nAsegúrese de que todos los elementos de texto que no sean encabezados (por ejemplo, párrafos, elementos de lista) tengan un estilo en línea o un estilo incrustado que establezca el tamaño de fuente en 20 px y el color en blanco (#ffffff) utilizando !important para anular los estilos de tema.\nLos hipervínculos, los puntos en la tabla de contenidos y las preguntas frecuentes deben tener un estilo azul (#00c2ff).\nTodos los encabezados y subtítulos deben tener un subrayado implementado a través de un borde inferior en azul (#00c2ff) con el relleno adecuado.\nColoque un doble salto (<br><br>) entre cada sección para mejorar la legibilidad.\nNo imprima ningún texto adicional ni mencione etiquetas de código como HTML''' alrededor de la salida; solo imprima el código HTML.\nEntrada de blog:\n\n{{ $json.message.content }}\n\nA continuación, se muestra un ejemplo de una salida con un formato correcto:\n\n<div style=\"color: #ffffff; font-family: Arial, sans-serif; line-height: 1.6;\"> <style> p, .wp-block-paragraph, ul.wp-block-list, li { color: #ffffff !important; font-size: 20px !important; } a { color: #00c2ff !important; } </style> <h1 id=\"h-devin-ai-the-hype-and-reality-of-an-ai-software-engineer\" class=\"wp-block-heading\" style=\"border-bottom: 2px solid #00c2ff; padding-bottom: 5px;\">Devin AI: La publicidad y la realidad de un ingeniero de software de IA</h1> <br><br> <p class=\"estimated-reading-time\" style=\"color: #ffffff; font-size: 20px !important;\">Tiempo de lectura estimado: 5 minutos</p> <br><br> <h2 id=\"h-key-takeaways\" class=\"wp-block-heading\" style=\"border-bottom: 2px solid #00c2ff; padding-bottom: 5px;\"><strong>Conclusiones clave</strong></h2> <br><br> <ul class=\"wp-block-list\"> <li><mark style=\"background-color: #ffd966;\"><strong>Devin AI</strong></mark> afirma ser el primer ingeniero de software de IA completamente autónomo del mundo.</li> <br><br> <li>Las demostraciones y afirmaciones iniciales han generado un <mark style=\"background-color: #ffff00;\">bombo publicitario</mark> e interés significativos.</li> <br><br> <li>Los críticos argumentan que algunas capacidades pueden ser exageradas o engañosas.</li> <br><br> <li>Las pruebas en el mundo real revelan tanto <em>fortalezas</em> como <em>limitaciones</em>.</li> <br><br> <li>El verdadero impacto en la ingeniería de software aún está por verse.</li> </ul> <br><br> <div class=\"wp-block-yoast-seo-table-of-contents yoast-table-of-contents\"> <h2 style=\"color: #ffffff; borde inferior: 2px sólido #00c2ff; padding-bottom: 5px;\">Índice</h2> <br><br> <ul> <li><a href=\"#h-devin-ai-the-hype-and-reality-of-an-ai-software-engineer\" data-level=\"1\">Devin AI: el bombo y la realidad de un ingeniero de software de IA</a></li> <br><br> <li><a href=\"#h-key-takeaways\" data-level=\"2\">Conclusiones clave</a></li> <br><br> <li><a href=\"#h-what-is-devin-ai\" data-level=\"2\">¿Qué es Devin AI?</a></li> <br><br> <li><a href=\"#h-the-hype-around-devin-ai\" data-level=\"2\">El bombo en torno a Devin AI</a></li> <br><br> <li><a href=\"#h-putting-devin-to-the-test\" data-level=\"2\">Poniendo a prueba a Devin</a></li> <br><br> <li><a href=\"#h-the-reality-check\" data-level=\"2\">La comprobación de la realidad</a></li> <br><br> <li><a href=\"#h-the-future-of-ai-in-software-development\" data-level=\"2\">El futuro de la IA en el desarrollo de software</a></li> <br><br> <li><a href=\"#h-frequently-asked-questions\" data-level=\"2\">Preguntas frecuentes</a></li> </ul> </div> <br><br> <p>Devin AI ha irrumpido en la escena tecnológica, prometiendo revolucionar el desarrollo de software tal como lo conocemos. Pero, ¿este asistente de codificación impulsado por IA está a la altura de las expectativas? Profundicemos en lo que realmente es Devin AI, lo que puede hacer y lo que dicen los desarrolladores después de ponerlo a prueba.</p> <br><br> <!-- El resto del contenido del blog va aquí --> </div>\n"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        3220,
        -600
      ],
      "id": "c21ca87d-552a-4986-807b-aec12e5b97d1",
      "name": "HTML version1",
      "credentials": {
        "openAiApi": {
          "id": "GdTgSVO5MkQXCIRg",
          "name": "Universidad ISEP - Proyecto Chatbot"
        }
      }
    },
    {
      "parameters": {
        "url": "https://serpapi.com/search?engine=google_images",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "={{ $('Choosing Topic').item.json.message.content }}"
            },
            {
              "name": "gl",
              "value": "us"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4460,
        -600
      ],
      "id": "26ca6ee6-3489-43be-8401-bd5304228027",
      "name": "Image Covers1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1f0541df-05ab-4e3d-a5d8-3904579fc8a9",
              "name": "image-url",
              "value": "={{ $json.images_results[1].original }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4660,
        -600
      ],
      "id": "9fda0133-fcb2-4808-82eb-78c220b0d85d",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "title": "={{ $('Title1').item.json.message.content }}",
        "additionalFields": {
          "authorId": 2,
          "content": "=<img src=\"{{ $json['image-url'] }}\" alt=\"Cover Image\">\n{{ $('HTML version1').item.json.message.content }}}",
          "slug": "={{ $('Slug1').item.json.message.content }}",
          "status": "draft",
          "commentStatus": "closed",
          "sticky": false,
          "categories": [
            280
          ],
          "tags": [
            281
          ],
          "postTemplate": {
            "values": {}
          }
        }
      },
      "type": "n8n-nodes-base.wordpress",
      "typeVersion": 1,
      "position": [
        4820,
        -600
      ],
      "id": "7a58a953-fc5d-4252-bb0f-5e00ef14cc6a",
      "name": "Wordpress1"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1t-J2x22lsG6TpktQLBkwaS-ewuJI2WQvB-g4vQspbYU",
          "mode": "list",
          "cachedResultName": "Completed Keywords",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1t-J2x22lsG6TpktQLBkwaS-ewuJI2WQvB-g4vQspbYU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1t-J2x22lsG6TpktQLBkwaS-ewuJI2WQvB-g4vQspbYU/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Blog Title ": "={{ $('Title1').item.json.message.content }}",
            "Keywords": "={{ $('Choosing Topic').item.json.message.content }}",
            "Summary ": "={{ $('Meta description1').item.json.message.content }}",
            "URL": "=https://YourURL.com/{{ $('Slug1').item.json.message.content }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Blog Title ",
              "displayName": "Blog Title ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Keywords",
              "displayName": "Keywords",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Summary ",
              "displayName": "Summary ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "URL",
              "displayName": "URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        5100,
        -600
      ],
      "id": "02197571-3feb-4bb1-9447-f791619ffa3d",
      "name": "Google Sheets1"
    },
    {
      "parameters": {
        "content": "## Find Trend\n\n",
        "height": 240,
        "width": 400
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        440,
        -680
      ],
      "typeVersion": 1,
      "id": "2e735235-38f8-4a2d-8544-7927d0b382a0",
      "name": "Sticky Note15"
    },
    {
      "parameters": {
        "content": "## High Volume Keywords\n\n",
        "height": 240,
        "width": 200
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        880,
        -680
      ],
      "typeVersion": 1,
      "id": "5e0c5599-0b51-4f5d-a05c-e026d2d6d7b3",
      "name": "Sticky Note16"
    },
    {
      "parameters": {
        "content": "## Choosing Blog Topic\n\n\n",
        "height": 240,
        "width": 340
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1120,
        -680
      ],
      "typeVersion": 1,
      "id": "620f4da5-a83c-407c-a887-587e7588cc12",
      "name": "Sticky Note17"
    },
    {
      "parameters": {
        "content": "## Research\n\n\n",
        "height": 240,
        "width": 460
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1480,
        -680
      ],
      "typeVersion": 1,
      "id": "60618b48-4b9f-409b-989e-0bdf629f8527",
      "name": "Sticky Note18"
    },
    {
      "parameters": {
        "content": "## Write Post\n\n\n",
        "height": 240,
        "width": 360
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2120,
        -520
      ],
      "typeVersion": 1,
      "id": "e4557de1-a5c5-4c77-8574-4dcd56cd04cf",
      "name": "Sticky Note19"
    },
    {
      "parameters": {
        "content": "## Internal Links\n\n\n",
        "height": 240,
        "width": 800
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2360,
        -680
      ],
      "typeVersion": 1,
      "id": "1aa866aa-4384-49be-a579-ac0087a513ef",
      "name": "Sticky Note20"
    },
    {
      "parameters": {
        "content": "## Prepare to Post\n\n\n",
        "height": 240,
        "width": 1220
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3180,
        -680
      ],
      "typeVersion": 1,
      "id": "6232bf58-0a67-4f83-af02-7e06644efd41",
      "name": "Sticky Note21"
    },
    {
      "parameters": {
        "content": "## Find Cover Image\n\n\n",
        "height": 240,
        "width": 320
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        4420,
        -680
      ],
      "typeVersion": 1,
      "id": "364c68e1-65f3-46db-8428-a7ec238086c8",
      "name": "Sticky Note22"
    },
    {
      "parameters": {
        "content": "## Post on Wordpress\n\n\n",
        "height": 240
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        4780,
        -680
      ],
      "typeVersion": 1,
      "id": "29253344-9e9c-448a-b6a1-12de4e2a6d5e",
      "name": "Sticky Note23"
    },
    {
      "parameters": {
        "content": "## Add to Other Blogs\n\n\n",
        "height": 240
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        5040,
        -680
      ],
      "typeVersion": 1,
      "id": "2c06d597-ed45-4120-b5ae-6639191030a2",
      "name": "Sticky Note24"
    },
    {
      "parameters": {
        "content": "# Trend SEO Post",
        "height": 80,
        "width": 420,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        360,
        -1000
      ],
      "typeVersion": 1,
      "id": "e6cdf0a0-173d-484e-9ac0-0d26f62976a0",
      "name": "Sticky Note25"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        1160,
        560
      ],
      "id": "e33c132a-d9f5-4559-be6d-76bb178ce599",
      "name": "AI Agent"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2025-03-01T13:48:03.115Z",
      "updatedAt": "2025-03-01T13:48:03.115Z",
      "id": "2i3kJvOusY2lowwY",
      "name": "marketing-automation"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2025-03-01T17:31:17.381Z",
  "versionId": "d44f0393-c0bb-4bdf-9df3-dcd7716e45c1"
}